@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    display: block;
}

a {
    display: block;
}
